@import "../../vars.css";

/* ---------------- BASE CARD ---------------- */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 20px 24px;
  width: 100%;
  max-width: 500px;
  min-height: 520px;
}

.image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin-top: 8px;
  font-size: 20px;
  line-height: 1.4;
}

.skills {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.skill {
  font-size: 18px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 4px 18px;
}

/* ---------------- Large Screens (≤1440px) ---------------- */
@media screen and (max-width: 1440px) {
  .container {
    max-width: 460px;
  }
}

/* ---------------- Laptops/Tablets Landscape (≤1024px) ---------------- */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 22px;
  }
  .description {
    font-size: 18px;
  }
  .skill {
    font-size: 16px;
  }
}

/* ---------------- Tablets Portrait (≤768px) ---------------- */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

/* ---------------- Mobile Phones (≤480px) ---------------- */
@media screen and (max-width: 480px) {
  .container {
    padding: 16px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 16px;
  }

  .skill {
    font-size: 14px;
    padding: 3px 14px;
  }
}
