@import "../../vars.css";

/* ---------- BASE DESKTOP STYLES ---------- */
.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.aboutImage {
  width: 35%;
  max-width: 450px;
  border-radius: 15px;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem img {
  width: 60px;
  margin-right: 20px;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 20px;
  line-height: 1.4;
}



/* ---------- LARGE LAPTOPS (max-width: 1440px) ---------- */
@media screen and (max-width: 1440px) {
  .container {
    padding: 60px;
  }
  .aboutItem h3 {
    font-size: 23px;
  }
  .aboutItem p {
    font-size: 19px;
  }
}



/* ---------- LAPTOPS & TABLETS LANDSCAPE (max-width: 1024px) ---------- */
@media screen and (max-width: 1024px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
  }

  .title {
    font-size: 32px;
  }

  .aboutImage {
    width: 40%;
  }

  .aboutItem img {
    width: 50px;
  }
}



/* ---------- TABLETS PORTRAIT (max-width: 768px) ---------- */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .aboutImage {
    width: 60%;
    margin-bottom: 40px;
  }

  .aboutItem {
    justify-content: center;
    text-align: left;
    gap: 20px;
  }
}



/* ---------- MOBILE PHONES (max-width: 480px) ---------- */
@media screen and (max-width: 480px) {
  .container {
    padding: 30px 20px;
    background-color: transparent;
  }

  .title {
    font-size: 28px;
    text-align: center;
  }

  .aboutImage {
    display: none; /* Hides the image on very small screens */
  }

  .aboutItems {
    width: 100%;
  }

  .aboutItem {
    padding: 20px 10px;
    flex-direction: row;
  }

  .aboutItem img {
    width: 40px;
  }

  .aboutItem h3 {
    font-size: 20px;
  }

  .aboutItem p {
    font-size: 16px;
  }
}
